.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 700px;
    background-color: #3a3a37;
    box-shadow: 0 11px 15px 0 rgba(79, 75, 151, 0.589), 0 6px 20px 0 rgba(99, 10, 10, 0.19);
    margin-top:100px ;
  }
.cartItem {
  
  margin: 10px auto;
 
  white-space:nowrap;
  width: auto;
  height: 50px;
  background-color: #fc5203;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name{
  align-self:center;
}
.t{
   top: 0;
   right: 0;
   margin: 0px auto;
}



