.cards {
    
    margin: 70px 70px;
    max-height: 50%;
    max-width: 1000px;
    display: inline-block; 
    
    background-color: rgb(3, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(108, 195, 206, 0.589), 0 6px 20px 0 rgba(60, 172, 144, 0.19);
   
    
}
.fav {
    top:0;
    right:0;
}